* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  list-style: none;
  transition: all .5s ease-in-out;
}

/*Body, Html Settings*/
body
{
  min-height: 10vh;
}

body, html
{
  height: 10%;
  background: linear-gradient(to bottom, #020111 10%,#3a3a52 100%);
  position: static;
  padding-bottom: 100px;
}

/*Align Items Center*/
.contenent
{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Background*/
.container-fluid
{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #FFF;
}

/*Animation background*/
.background 
{
  background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
}

.cube 
{
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) 
{
  border-color: #FFF ;
}

.cube:nth-child(2) 
{
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) 
{
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) 
{
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}

.cube:nth-child(5) 
{
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}

.cube:nth-child(6) 
{
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

/*Animate Background*/
@keyframes Gradient 
{
  0% 
  {
    background-position: 0% 50%;
  }

  50% 
  {
    background-position: 100% 50%;
  }

  100% 
  {
    background-position: 0% 50%;
  }
}

@keyframes cube 
{
  from 
  {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }

  to 
  {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
/*SearchBar style*/
#searchBar
{
  width: 100%;
  padding: 8px 30px 8px 12px;
  border: 2px solid rgba(0, 0, 0, 0.08);
  outline: none;
  font-size: 16px;
  color: #F27121;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 1px;
  transition: all 0.5s ease;
  margin-top: 2%;
  color: #000;
}

#searchBar:focus
{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);
}

/*HightLight Searchbar*/
.highlight 
{ 
	background-color: yellow; 
}

/*Box Container*/
.container
{
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 90%;
  border: 5px solid orange;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  transition: all .3s ease-in-out;
  transform: translate(-50%, -50%);
}

#box
{
  position: absolute;
  top: 15%;
  left: 5%;
  width: 400px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 18.89568px 75.58272px 0 rgba(0, 0, 0, 0.145), 0 7.59375px 26px 0 rgba(0, 0, 0, 0.255);
  overflow: hidden;
  -webkit-animation: box 1s;
          animation: box 1s;
  display: block;
}

@keyframes box
{
  0% 
  {
    box-shadow: none;
  }
  
  100% 
  {
    box-shadow: 0 18.89568px 75.58272px 0 rgba(0, 0, 0, 0.145), 0 7.59375px 26px 0 rgba(0, 0, 0, 0.255);
  }
}

@keyframes container 
{
  0% 
  {
    box-shadow: none;
  }
  
  100% 
  {
    box-shadow: 0 18.89568px 75.58272px 0 rgba(0, 0, 0, 0.145), 0 7.59375px 26px 0 rgba(0, 0, 0, 0.255);
  }
}

#box-cover 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10;
  -webkit-animation: box-cover 2s;
          animation: box-cover 2s;
  opacity: 0;
  pointer-events: none;
}

@-webkit-keyframes box-cover 
{
  0% 
  {
    opacity: 1;
    pointer-events: all;
  }
  
  50% 
  {
    opacity: 1;
    pointer-events: all;
  }
  
  100% 
  {
    opacity: 0;
    pointer-events: all;
  }
}

@keyframes box-cover 
{
  0% 
  {
    opacity: 1;
    pointer-events: all;
  }
  
  50% 
  {
    opacity: 1;
    pointer-events: all;
  }
  
  100% 
  {
    opacity: 0;
    pointer-events: all;
  }
}

#preview-toggle,
#preview-close 
{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  width: 24px;
  height: 24px;
  padding: 16px;
  border-radius: 50%;
  box-shadow: 0 3.24px 12.96px 0 rgba(0, 0, 0, 0.13), 0 2.25px 10.4px 0 rgba(0, 0, 0, 0.246);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 24px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  -webkit-animation: pvt-out 0.3s;
          animation: pvt-out 0.3s;
}

.center
{
  text-align: center;
}

#preview-toggle i
{
  position: absolute;
  top: 14%;
  left: 14%;
  font-size: 23px;
}

#preview-close 
{
  z-index: 7;
  background: none;
  box-shadow: none;
  color: #332;
}

#preview-close i
{
  font-size: 35px;
  position: absolute;
  left: -10%;
}

#preview-toggle.open 
{
  -webkit-animation: pvt-in 0.3s;
          animation: pvt-in 0.3s;
}

@keyframes pvt-in 
{
  0% 
  {
    transform: none;
    color: #000;
    -webkit-animation-timing-function: cubic-bezier(0, 0.3, 0.4, 0.4);
            animation-timing-function: cubic-bezier(0, 0.3, 0.4, 0.4);
  }
  
  50% 
  {
    transform: translate(-262px, 162px) scale(5);
    color: rgba(0, 0, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
  }
  
  100% 
  {
    transform: translate(-262px, 162px) scale(12.5);
    color: rgba(0, 0, 0, 0);
  }
}

@keyframes pvt-out 
{
  0% 
  {
    transform: translate(-262px, 162px) scale(12.5);
    color: rgba(0, 0, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
  }
  
  50% 
  {
    transform: translate(-262px, 162px) scale(5);
    color: rgba(0, 0, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.6, 0.5, 0.7);
            animation-timing-function: cubic-bezier(0.6, 0.6, 0.5, 0.7);
  }
  
  100% 
  {
    transform: none;
    color: #000;
  }
}

#editor 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(34, 100, 89);
  font-family: monaco;
  font-size: 12px;
  color: #ffe;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: center;
  font-size: 20px;
}

#editor h2
{
  text-shadow: 0 3px 3px #000;
}

#editor img
{
  width: 320px;
  height: 70px;
  position: relative;
  top: 20px;
  border-radius: 10px;
}

#editor a
{
  position: relative;
  top: 30px;
  text-decoration: none;
  color: #ffe;
  text-shadow: 1px 1px 1px #000;
  font-size: 15px;
}

#preview 
{
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
  -webkit-animation: preview-in 0.3s;
          animation: preview-in 0.3s;
}

#preview h1
{
  text-align: center;
}

#preview > * 
{
  -webkit-animation: fade-in 0.6s;
          animation: fade-in 0.6s;
}

#preview.hidden 
{
  opacity: 0;
  pointer-events: none;
  -webkit-animation: preview-out 0.5s;
          animation: preview-out 0.5s;
}

#preview.hidden > * 
{
  -webkit-animation: fade-out 0.3s;
          animation: fade-out 0.3s;
}

@-webkit-keyframes preview-in 
{
  0% 
  {
    opacity: 0;
  }
  
  99% 
  {
    opacity: 0;
  }
  
  100% 
  {
    opacity: 1;
  }
}

@keyframes preview-in 
{
  0% 
  {
    opacity: 0;
  }
  
  99% 
  {
    opacity: 0;
  }
  
  100% 
  {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in 
{
  0% 
  {
    opacity: 0;
  }
  
  50% 
  {
    opacity: 0;
  }
  
  100% 
  {
    opacity: 1;
  }
}

@keyframes fade-in 
{
  0% 
  {
    opacity: 0;
  }
  
  50% 
  {
    opacity: 0;
  }
  
  100% 
  {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out 
{
  0% 
  {
    opacity: 1;
  }
  
  100% 
  {
    opacity: 0;
  }
}

@keyframes fade-out 
{
  0% 
  {
    opacity: 1;
  }
  
  100% 
  {
    opacity: 0;
  }
}

@-webkit-keyframes preview-out 
{
  0% 
  {
    opacity: 0;
  }
  
  100% 
  {
    opacity: 0;
  }
}

@keyframes preview-out 
{
  0% 
  {
    opacity: 0;
  }
  
  100% 
  {
    opacity: 0;
  }
}

/*Media query for all mobile device*/
@media (max-width: 1024px)
{
  .container
  {
    position: relative;
    height: 2000px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    transform: translate(0%, 0%);
    width: 100%;
    left: 0;
  }
    
  #box
  {
    position: relative;
    left: 0;
    margin: 0 auto;
  }
  
  /*Flex Container*/
  .contenent
  {
    display: grid;
  }
}

@media (max-width: 416px)
{

  .container
  {
    position: absolute;
    top: 0;
    width: auto;
  }

  #editor img
  {
    width: 100%;
  }

  #box
  {
    position: relative;
  }
}

@media(max-height: 635px)
{
  .container
  {
    position: relative;
    height: 2000px;
    width: 100%;
    transition: all .3s ease-in-out;
    transform: translate(0%, 0%);
  }
}

@media(prefers-color-scheme: dark)
{

  body
  {
    min-height: 100vh;
  }

  body, html
  {
    height: 100%;
    background: linear-gradient(to bottom, #020111 10%,#3a3a52 100%);
    position: static;
    padding-bottom: 100px;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar
  {
    display: none;
  }

  .container-fluid
  {
    display: none;
  }

  .container
  {
    background: rgb(22, 22, 22);
  }

  #searchBar
  {
    color: #fff;
    background: rgba(255, 0, 0, 0.829);
    box-shadow: 0px 2px 3px rgb(255, 255, 255);
  }

  #searchBar::placeholder
  {
    color: #fff;
  }

  #searchBar::-webkit-search-cancel-button
  {
    cursor: pointer;
  }

  #searchBar:focus
  {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);
  }
    
  /*Stars Background*/
  #stars
  {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1331px 1180px #FFF , 1271px 1640px #FFF , 1849px 1472px #FFF , 141px 227px #FFF , 1014px 780px #FFF , 741px 223px #FFF , 1650px 12px #FFF , 1465px 618px #FFF , 1836px 1233px #FFF , 2000px 1820px #FFF , 782px 1857px #FFF , 1781px 1260px #FFF , 169px 914px #FFF , 1500px 1468px #FFF , 1917px 869px #FFF , 653px 129px #FFF , 238px 485px #FFF , 477px 1416px #FFF , 976px 1961px #FFF , 476px 821px #FFF , 1683px 133px #FFF , 1649px 1072px #FFF , 1742px 1382px #FFF , 1469px 1510px #FFF , 1936px 143px #FFF , 783px 813px #FFF , 355px 489px #FFF , 1141px 1860px #FFF , 1984px 1331px #FFF , 1793px 1125px #FFF , 670px 758px #FFF , 1143px 1652px #FFF , 1831px 1549px #FFF , 281px 737px #FFF , 640px 95px #FFF , 1348px 1579px #FFF , 164px 506px #FFF , 197px 1394px #FFF , 1964px 1365px #FFF , 941px 315px #FFF , 1274px 826px #FFF , 1989px 1746px #FFF , 167px 1256px #FFF , 1634px 1564px #FFF , 693px 1094px #FFF , 1120px 758px #FFF , 359px 149px #FFF , 745px 649px #FFF , 840px 1803px #FFF , 1811px 1261px #FFF , 1512px 914px #FFF , 462px 943px #FFF , 1081px 112px #FFF , 165px 1609px #FFF , 1031px 284px #FFF , 955px 518px #FFF , 545px 200px #FFF , 1059px 397px #FFF , 1094px 482px #FFF , 1861px 1731px #FFF , 367px 1988px #FFF , 1018px 579px #FFF , 26px 1345px #FFF , 377px 1991px #FFF , 1569px 1251px #FFF , 1639px 1324px #FFF , 1297px 1726px #FFF , 1609px 531px #FFF , 1070px 1683px #FFF , 385px 1286px #FFF , 1520px 1738px #FFF , 773px 1677px #FFF , 1160px 425px #FFF , 217px 1349px #FFF , 1395px 1153px #FFF , 509px 436px #FFF , 524px 461px #FFF , 1369px 310px #FFF , 262px 1058px #FFF , 1682px 118px #FFF , 1135px 419px #FFF , 1139px 986px #FFF , 1861px 501px #FFF , 1165px 1342px #FFF , 260px 1602px #FFF , 1073px 1058px #FFF , 1973px 1907px #FFF , 1969px 1279px #FFF , 543px 1967px #FFF , 323px 443px #FFF , 768px 481px #FFF , 1500px 457px #FFF , 1785px 343px #FFF , 1249px 118px #FFF , 1134px 1394px #FFF , 942px 935px #FFF , 405px 1958px #FFF , 604px 141px #FFF , 1394px 1219px #FFF , 1379px 1931px #FFF , 1818px 146px #FFF , 581px 1336px #FFF , 688px 1493px #FFF , 1214px 1116px #FFF , 583px 1748px #FFF , 1876px 450px #FFF , 545px 1334px #FFF , 1107px 829px #FFF , 115px 293px #FFF , 106px 1390px #FFF , 1489px 1417px #FFF , 1861px 1789px #FFF , 1518px 465px #FFF , 1541px 750px #FFF , 960px 1896px #FFF , 1948px 636px #FFF , 1564px 94px #FFF , 1943px 611px #FFF , 762px 177px #FFF , 1744px 915px #FFF , 259px 752px #FFF , 339px 321px #FFF , 47px 894px #FFF , 711px 1448px #FFF , 488px 1764px #FFF , 612px 1351px #FFF , 312px 119px #FFF , 894px 227px #FFF , 1634px 183px #FFF , 1420px 1575px #FFF , 511px 1520px #FFF , 699px 246px #FFF , 317px 488px #FFF , 463px 520px #FFF , 1105px 292px #FFF , 1771px 16px #FFF , 817px 439px #FFF , 1697px 777px #FFF , 1649px 718px #FFF , 438px 722px #FFF , 1519px 1861px #FFF , 524px 1469px #FFF , 201px 102px #FFF , 1698px 438px #FFF , 670px 1994px #FFF , 332px 631px #FFF , 506px 1951px #FFF , 135px 517px #FFF , 527px 1594px #FFF , 1628px 1983px #FFF , 399px 1093px #FFF , 1182px 1180px #FFF , 1297px 17px #FFF , 136px 583px #FFF , 1677px 328px #FFF , 1002px 622px #FFF , 1062px 1741px #FFF , 1107px 556px #FFF , 807px 1250px #FFF , 258px 181px #FFF , 247px 1788px #FFF , 1967px 1310px #FFF , 298px 813px #FFF , 1516px 526px #FFF , 1190px 1320px #FFF , 1980px 867px #FFF , 1071px 1127px #FFF , 1691px 1682px #FFF , 858px 141px #FFF , 342px 1435px #FFF , 1857px 483px #FFF , 492px 1895px #FFF , 189px 974px #FFF , 7px 1323px #FFF , 1524px 1959px #FFF , 202px 1554px #FFF , 829px 1615px #FFF , 1652px 1459px #FFF , 453px 702px #FFF , 1702px 746px #FFF , 872px 148px #FFF , 1595px 1667px #FFF , 322px 1030px #FFF , 951px 438px #FFF , 1200px 1222px #FFF , 1232px 1866px #FFF , 731px 525px #FFF , 1978px 830px #FFF , 1301px 16px #FFF , 190px 537px #FFF , 1743px 299px #FFF , 539px 1290px #FFF , 1408px 1794px #FFF , 569px 125px #FFF , 143px 809px #FFF , 1965px 596px #FFF , 1377px 705px #FFF , 148px 720px #FFF , 95px 1019px #FFF , 1207px 176px #FFF , 1260px 115px #FFF , 1242px 866px #FFF , 1481px 141px #FFF , 305px 1483px #FFF , 1774px 485px #FFF , 581px 235px #FFF , 685px 1435px #FFF , 710px 1442px #FFF , 1741px 1068px #FFF , 117px 1310px #FFF , 1841px 521px #FFF , 1897px 1459px #FFF , 598px 758px #FFF , 296px 919px #FFF , 1045px 1784px #FFF , 547px 856px #FFF , 1261px 1111px #FFF , 132px 1140px #FFF , 688px 1129px #FFF , 139px 1293px #FFF , 1902px 1629px #FFF , 656px 735px #FFF , 1334px 860px #FFF , 1826px 1536px #FFF , 642px 1453px #FFF , 1803px 429px #FFF , 1737px 858px #FFF , 253px 530px #FFF , 1920px 1759px #FFF , 1945px 1600px #FFF , 1633px 1885px #FFF , 1248px 847px #FFF , 1813px 1080px #FFF , 462px 1783px #FFF , 424px 573px #FFF , 354px 1092px #FFF , 824px 1140px #FFF , 494px 347px #FFF , 1890px 790px #FFF , 44px 1556px #FFF , 355px 106px #FFF , 260px 155px #FFF , 1950px 1972px #FFF , 1402px 1975px #FFF , 807px 953px #FFF , 1607px 1573px #FFF , 1144px 1679px #FFF , 1482px 625px #FFF , 175px 931px #FFF , 1983px 297px #FFF , 1407px 1363px #FFF , 74px 369px #FFF , 1727px 1674px #FFF , 693px 1520px #FFF , 1045px 1269px #FFF , 778px 1696px #FFF , 1783px 1851px #FFF , 1721px 80px #FFF , 1706px 434px #FFF , 147px 1712px #FFF , 1027px 1704px #FFF , 1329px 1485px #FFF , 637px 1627px #FFF , 111px 1299px #FFF , 158px 111px #FFF , 44px 1667px #FFF , 891px 337px #FFF , 704px 1311px #FFF , 490px 836px #FFF , 1106px 96px #FFF , 1971px 1150px #FFF , 1848px 1434px #FFF , 1246px 142px #FFF , 1935px 1774px #FFF , 575px 1843px #FFF , 481px 1570px #FFF , 1656px 513px #FFF , 1141px 1867px #FFF , 65px 1570px #FFF , 404px 1594px #FFF , 773px 1320px #FFF , 166px 150px #FFF , 773px 1254px #FFF , 1015px 1263px #FFF , 1073px 1364px #FFF , 1111px 280px #FFF , 638px 949px #FFF , 930px 863px #FFF , 1954px 78px #FFF , 1440px 1630px #FFF , 414px 26px #FFF , 229px 1189px #FFF , 268px 1297px #FFF , 972px 1929px #FFF , 396px 542px #FFF , 896px 1556px #FFF , 1950px 1824px #FFF , 1752px 61px #FFF , 490px 212px #FFF , 1769px 507px #FFF , 1691px 1196px #FFF , 211px 1951px #FFF , 139px 411px #FFF , 913px 835px #FFF , 979px 740px #FFF , 1051px 1080px #FFF , 346px 984px #FFF , 1449px 679px #FFF , 1072px 1466px #FFF , 453px 382px #FFF , 1838px 299px #FFF , 120px 780px #FFF , 206px 1965px #FFF , 1409px 246px #FFF , 174px 955px #FFF , 845px 591px #FFF , 1107px 1904px #FFF , 1432px 1926px #FFF , 563px 1906px #FFF , 1762px 1112px #FFF , 358px 2000px #FFF , 1477px 708px #FFF , 1609px 680px #FFF , 1620px 1532px #FFF , 819px 1033px #FFF , 1310px 477px #FFF , 493px 1436px #FFF , 1759px 1450px #FFF , 1689px 1831px #FFF , 406px 114px #FFF , 1270px 1785px #FFF , 450px 938px #FFF , 1925px 512px #FFF , 617px 35px #FFF , 144px 705px #FFF , 1946px 854px #FFF , 1432px 1926px #FFF , 134px 23px #FFF , 1541px 147px #FFF , 482px 1228px #FFF , 1708px 765px #FFF , 1986px 1436px #FFF , 1228px 760px #FFF , 680px 1787px #FFF , 1455px 1662px #FFF , 18px 1712px #FFF , 561px 375px #FFF , 465px 267px #FFF , 1706px 203px #FFF , 251px 1150px #FFF , 362px 1077px #FFF , 460px 440px #FFF , 1265px 1259px #FFF , 604px 650px #FFF , 167px 854px #FFF , 629px 372px #FFF , 461px 1497px #FFF , 1918px 1404px #FFF , 1125px 1841px #FFF , 896px 1136px #FFF , 1913px 1102px #FFF , 1447px 836px #FFF , 801px 1048px #FFF , 385px 1857px #FFF , 1154px 994px #FFF , 1937px 1383px #FFF , 1644px 145px #FFF , 1405px 717px #FFF , 203px 744px #FFF , 1569px 125px #FFF , 1495px 239px #FFF , 1442px 1878px #FFF , 746px 1447px #FFF , 197px 815px #FFF , 478px 96px #FFF , 1511px 1381px #FFF , 810px 901px #FFF , 1295px 21px #FFF , 940px 1981px #FFF , 1128px 1034px #FFF , 519px 603px #FFF , 274px 1390px #FFF , 1185px 893px #FFF , 1280px 1703px #FFF , 1355px 1657px #FFF , 376px 956px #FFF , 1091px 370px #FFF , 241px 568px #FFF , 1845px 134px #FFF , 687px 1780px #FFF , 1810px 1678px #FFF , 793px 1313px #FFF , 1914px 1067px #FFF , 669px 1304px #FFF , 1009px 967px #FFF , 1099px 729px #FFF , 399px 140px #FFF , 66px 93px #FFF , 913px 1482px #FFF , 1178px 117px #FFF , 1960px 350px #FFF , 796px 596px #FFF , 430px 1028px #FFF , 840px 1119px #FFF , 1547px 227px #FFF , 587px 262px #FFF , 1059px 533px #FFF , 1996px 405px #FFF , 1155px 1163px #FFF , 474px 1779px #FFF , 487px 1996px #FFF , 316px 482px #FFF , 284px 47px #FFF , 1641px 1765px #FFF , 1969px 74px #FFF , 1561px 1395px #FFF , 5px 1910px #FFF , 695px 299px #FFF , 1507px 1218px #FFF , 189px 1086px #FFF , 466px 472px #FFF , 1910px 1736px #FFF , 1792px 1573px #FFF , 744px 292px #FFF , 458px 970px #FFF , 247px 1576px #FFF , 463px 1979px #FFF , 686px 1858px #FFF , 1457px 845px #FFF , 1068px 979px #FFF , 1893px 484px #FFF , 1917px 1060px #FFF , 674px 1291px #FFF , 1655px 219px #FFF , 1308px 1633px #FFF , 322px 398px #FFF , 1046px 730px #FFF , 177px 1669px #FFF , 318px 1642px #FFF , 1259px 1716px #FFF , 168px 864px #FFF , 1719px 910px #FFF , 1px 762px #FFF , 750px 861px #FFF , 735px 944px #FFF , 475px 1157px #FFF , 607px 365px #FFF , 1835px 213px #FFF , 1566px 782px #FFF , 1424px 1777px #FFF , 961px 933px #FFF , 981px 269px #FFF , 175px 565px #FFF , 3px 1373px #FFF , 179px 1088px #FFF , 564px 1132px #FFF , 1677px 1305px #FFF , 762px 441px #FFF , 471px 819px #FFF , 280px 191px #FFF , 266px 484px #FFF , 383px 891px #FFF , 1968px 1310px #FFF , 1615px 1100px #FFF , 1494px 1912px #FFF , 70px 74px #FFF , 1276px 100px #FFF , 1145px 1165px #FFF , 561px 546px #FFF , 1580px 597px #FFF , 916px 1742px #FFF , 1651px 179px #FFF , 1350px 1676px #FFF , 1281px 240px #FFF , 1382px 1806px #FFF , 1267px 1366px #FFF , 1292px 1030px #FFF , 631px 488px #FFF , 201px 1687px #FFF , 201px 846px #FFF , 581px 1034px #FFF , 1037px 579px #FFF , 321px 1841px #FFF , 1484px 1113px #FFF , 1059px 1541px #FFF , 310px 607px #FFF , 414px 1348px #FFF , 1805px 1021px #FFF , 611px 1980px #FFF , 819px 64px #FFF , 1212px 1088px #FFF , 787px 1855px #FFF , 1659px 656px #FFF , 665px 1765px #FFF , 1100px 911px #FFF , 1370px 16px #FFF , 1351px 1889px #FFF , 1673px 1600px #FFF , 1697px 1396px #FFF , 49px 723px #FFF , 1678px 892px #FFF , 516px 1048px #FFF , 1298px 1629px #FFF , 1761px 1964px #FFF , 1660px 1770px #FFF , 565px 1618px #FFF , 1117px 970px #FFF , 1570px 1623px #FFF , 1315px 1405px #FFF , 1131px 1779px #FFF , 1427px 1188px #FFF , 1175px 1200px #FFF , 1945px 291px #FFF , 586px 590px #FFF , 1112px 1792px #FFF , 563px 837px #FFF , 1259px 1800px #FFF , 876px 747px #FFF , 978px 1852px #FFF , 1071px 1384px #FFF , 1366px 1060px #FFF , 507px 1145px #FFF , 1316px 1461px #FFF , 244px 5px #FFF , 1473px 409px #FFF , 1067px 269px #FFF , 1560px 1500px #FFF , 1388px 1728px #FFF , 1824px 798px #FFF , 1545px 908px #FFF , 866px 1091px #FFF , 1864px 362px #FFF , 255px 803px #FFF , 441px 172px #FFF , 1020px 992px #FFF , 1150px 1414px #FFF , 1028px 1731px #FFF , 500px 637px #FFF , 1779px 1457px #FFF , 339px 462px #FFF , 1933px 1590px #FFF , 299px 1079px #FFF , 183px 1889px #FFF , 874px 1107px #FFF , 203px 1414px #FFF , 469px 752px #FFF , 1708px 833px #FFF , 657px 1581px #FFF , 601px 1236px #FFF , 1619px 278px #FFF , 76px 1024px #FFF , 170px 549px #FFF , 1699px 1338px #FFF , 964px 1710px #FFF , 1863px 696px #FFF , 607px 461px #FFF , 1851px 295px #FFF , 985px 850px #FFF , 1639px 186px #FFF , 1219px 1244px #FFF , 144px 1346px #FFF , 490px 847px #FFF , 1255px 774px #FFF , 1393px 844px #FFF , 659px 1257px #FFF , 798px 1242px #FFF , 472px 1987px #FFF , 357px 1870px #FFF , 579px 906px #FFF , 1921px 1898px #FFF , 348px 1225px #FFF , 275px 1744px #FFF , 757px 745px #FFF , 919px 1351px #FFF , 1786px 1190px #FFF , 102px 1283px #FFF , 1184px 603px #FFF , 1325px 1953px #FFF , 1784px 1451px #FFF , 85px 105px #FFF , 394px 591px #FFF , 1832px 765px #FFF , 435px 846px #FFF , 1924px 620px #FFF , 939px 310px #FFF , 270px 1582px #FFF , 221px 1932px #FFF , 636px 1099px #FFF , 470px 1411px #FFF , 732px 605px #FFF , 1989px 453px #FFF , 1490px 734px #FFF , 626px 538px #FFF , 1655px 1088px #FFF , 1355px 833px #FFF , 801px 998px #FFF , 1402px 690px #FFF , 803px 914px #FFF , 1266px 782px #FFF , 479px 1876px #FFF , 381px 144px #FFF , 675px 236px #FFF , 953px 1213px #FFF , 1632px 841px #FFF , 305px 231px #FFF , 1297px 617px #FFF , 1133px 775px #FFF , 1465px 1085px #FFF , 882px 1847px #FFF , 226px 1462px #FFF , 951px 1372px #FFF , 340px 473px #FFF , 1370px 1867px #FFF , 1639px 301px #FFF , 1301px 891px #FFF , 1087px 1124px #FFF , 1423px 1553px #FFF , 675px 472px #FFF , 706px 1263px #FFF , 1757px 31px #FFF , 1732px 1334px #FFF , 694px 502px #FFF , 1572px 258px #FFF , 393px 1915px #FFF , 983px 1033px #FFF , 1647px 1px #FFF , 1416px 214px #FFF , 1501px 1322px #FFF , 1569px 924px #FFF , 267px 1146px #FFF , 147px 1443px #FFF , 784px 660px #FFF , 1055px 1753px #FFF , 1920px 1941px #FFF , 644px 1040px #FFF , 1576px 1729px #FFF , 1254px 300px #FFF , 46px 874px #FFF , 693px 161px #FFF , 1204px 1700px #FFF , 1620px 1636px #FFF , 1201px 1554px #FFF , 1712px 117px #FFF , 1925px 1399px #FFF , 1950px 1812px #FFF , 650px 1847px #FFF , 1138px 1593px #FFF , 1548px 1837px #FFF , 444px 1324px #FFF , 1437px 656px #FFF , 1768px 845px #FFF , 1990px 1621px #FFF , 1426px 1708px #FFF , 888px 889px #FFF , 1675px 1702px #FFF , 903px 231px #FFF , 204px 1456px #FFF , 1894px 827px #FFF , 1830px 1119px #FFF , 1230px 1010px #FFF , 1428px 184px #FFF , 625px 1042px #FFF , 255px 569px #FFF , 1493px 1629px #FFF , 1771px 1650px #FFF , 1094px 1958px #FFF , 1947px 1198px #FFF , 306px 147px #FFF , 16px 537px #FFF , 1021px 1412px #FFF , 656px 1446px #FFF , 1281px 462px #FFF , 946px 1542px #FFF , 749px 1916px #FFF , 423px 226px #FFF , 546px 1799px #FFF , 1061px 80px #FFF , 1053px 441px #FFF , 175px 1480px #FFF , 966px 962px #FFF , 539px 683px #FFF , 378px 1728px #FFF , 443px 394px #FFF , 774px 148px #FFF , 1534px 897px #FFF , 1667px 325px #FFF , 1089px 66px #FFF , 1926px 695px #FFF , 1355px 672px #FFF , 1382px 801px #FFF , 572px 1842px #FFF , 1981px 1645px #FFF , 811px 173px #FFF , 1996px 674px #FFF , 1402px 129px #FFF , 368px 1402px #FFF , 1220px 343px #FFF , 297px 561px #FFF , 1419px 1271px #FFF , 761px 130px #FFF;
    animation: animStar 50s linear infinite;
  }

  #stars:after
  {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1331px 1180px #FFF , 1271px 1640px #FFF , 1849px 1472px #FFF , 141px 227px #FFF , 1014px 780px #FFF , 741px 223px #FFF , 1650px 12px #FFF , 1465px 618px #FFF , 1836px 1233px #FFF , 2000px 1820px #FFF , 782px 1857px #FFF , 1781px 1260px #FFF , 169px 914px #FFF , 1500px 1468px #FFF , 1917px 869px #FFF , 653px 129px #FFF , 238px 485px #FFF , 477px 1416px #FFF , 976px 1961px #FFF , 476px 821px #FFF , 1683px 133px #FFF , 1649px 1072px #FFF , 1742px 1382px #FFF , 1469px 1510px #FFF , 1936px 143px #FFF , 783px 813px #FFF , 355px 489px #FFF , 1141px 1860px #FFF , 1984px 1331px #FFF , 1793px 1125px #FFF , 670px 758px #FFF , 1143px 1652px #FFF , 1831px 1549px #FFF , 281px 737px #FFF , 640px 95px #FFF , 1348px 1579px #FFF , 164px 506px #FFF , 197px 1394px #FFF , 1964px 1365px #FFF , 941px 315px #FFF , 1274px 826px #FFF , 1989px 1746px #FFF , 167px 1256px #FFF , 1634px 1564px #FFF , 693px 1094px #FFF , 1120px 758px #FFF , 359px 149px #FFF , 745px 649px #FFF , 840px 1803px #FFF , 1811px 1261px #FFF , 1512px 914px #FFF , 462px 943px #FFF , 1081px 112px #FFF , 165px 1609px #FFF , 1031px 284px #FFF , 955px 518px #FFF , 545px 200px #FFF , 1059px 397px #FFF , 1094px 482px #FFF , 1861px 1731px #FFF , 367px 1988px #FFF , 1018px 579px #FFF , 26px 1345px #FFF , 377px 1991px #FFF , 1569px 1251px #FFF , 1639px 1324px #FFF , 1297px 1726px #FFF , 1609px 531px #FFF , 1070px 1683px #FFF , 385px 1286px #FFF , 1520px 1738px #FFF , 773px 1677px #FFF , 1160px 425px #FFF , 217px 1349px #FFF , 1395px 1153px #FFF , 509px 436px #FFF , 524px 461px #FFF , 1369px 310px #FFF , 262px 1058px #FFF , 1682px 118px #FFF , 1135px 419px #FFF , 1139px 986px #FFF , 1861px 501px #FFF , 1165px 1342px #FFF , 260px 1602px #FFF , 1073px 1058px #FFF , 1973px 1907px #FFF , 1969px 1279px #FFF , 543px 1967px #FFF , 323px 443px #FFF , 768px 481px #FFF , 1500px 457px #FFF , 1785px 343px #FFF , 1249px 118px #FFF , 1134px 1394px #FFF , 942px 935px #FFF , 405px 1958px #FFF , 604px 141px #FFF , 1394px 1219px #FFF , 1379px 1931px #FFF , 1818px 146px #FFF , 581px 1336px #FFF , 688px 1493px #FFF , 1214px 1116px #FFF , 583px 1748px #FFF , 1876px 450px #FFF , 545px 1334px #FFF , 1107px 829px #FFF , 115px 293px #FFF , 106px 1390px #FFF , 1489px 1417px #FFF , 1861px 1789px #FFF , 1518px 465px #FFF , 1541px 750px #FFF , 960px 1896px #FFF , 1948px 636px #FFF , 1564px 94px #FFF , 1943px 611px #FFF , 762px 177px #FFF , 1744px 915px #FFF , 259px 752px #FFF , 339px 321px #FFF , 47px 894px #FFF , 711px 1448px #FFF , 488px 1764px #FFF , 612px 1351px #FFF , 312px 119px #FFF , 894px 227px #FFF , 1634px 183px #FFF , 1420px 1575px #FFF , 511px 1520px #FFF , 699px 246px #FFF , 317px 488px #FFF , 463px 520px #FFF , 1105px 292px #FFF , 1771px 16px #FFF , 817px 439px #FFF , 1697px 777px #FFF , 1649px 718px #FFF , 438px 722px #FFF , 1519px 1861px #FFF , 524px 1469px #FFF , 201px 102px #FFF , 1698px 438px #FFF , 670px 1994px #FFF , 332px 631px #FFF , 506px 1951px #FFF , 135px 517px #FFF , 527px 1594px #FFF , 1628px 1983px #FFF , 399px 1093px #FFF , 1182px 1180px #FFF , 1297px 17px #FFF , 136px 583px #FFF , 1677px 328px #FFF , 1002px 622px #FFF , 1062px 1741px #FFF , 1107px 556px #FFF , 807px 1250px #FFF , 258px 181px #FFF , 247px 1788px #FFF , 1967px 1310px #FFF , 298px 813px #FFF , 1516px 526px #FFF , 1190px 1320px #FFF , 1980px 867px #FFF , 1071px 1127px #FFF , 1691px 1682px #FFF , 858px 141px #FFF , 342px 1435px #FFF , 1857px 483px #FFF , 492px 1895px #FFF , 189px 974px #FFF , 7px 1323px #FFF , 1524px 1959px #FFF , 202px 1554px #FFF , 829px 1615px #FFF , 1652px 1459px #FFF , 453px 702px #FFF , 1702px 746px #FFF , 872px 148px #FFF , 1595px 1667px #FFF , 322px 1030px #FFF , 951px 438px #FFF , 1200px 1222px #FFF , 1232px 1866px #FFF , 731px 525px #FFF , 1978px 830px #FFF , 1301px 16px #FFF , 190px 537px #FFF , 1743px 299px #FFF , 539px 1290px #FFF , 1408px 1794px #FFF , 569px 125px #FFF , 143px 809px #FFF , 1965px 596px #FFF , 1377px 705px #FFF , 148px 720px #FFF , 95px 1019px #FFF , 1207px 176px #FFF , 1260px 115px #FFF , 1242px 866px #FFF , 1481px 141px #FFF , 305px 1483px #FFF , 1774px 485px #FFF , 581px 235px #FFF , 685px 1435px #FFF , 710px 1442px #FFF , 1741px 1068px #FFF , 117px 1310px #FFF , 1841px 521px #FFF , 1897px 1459px #FFF , 598px 758px #FFF , 296px 919px #FFF , 1045px 1784px #FFF , 547px 856px #FFF , 1261px 1111px #FFF , 132px 1140px #FFF , 688px 1129px #FFF , 139px 1293px #FFF , 1902px 1629px #FFF , 656px 735px #FFF , 1334px 860px #FFF , 1826px 1536px #FFF , 642px 1453px #FFF , 1803px 429px #FFF , 1737px 858px #FFF , 253px 530px #FFF , 1920px 1759px #FFF , 1945px 1600px #FFF , 1633px 1885px #FFF , 1248px 847px #FFF , 1813px 1080px #FFF , 462px 1783px #FFF , 424px 573px #FFF , 354px 1092px #FFF , 824px 1140px #FFF , 494px 347px #FFF , 1890px 790px #FFF , 44px 1556px #FFF , 355px 106px #FFF , 260px 155px #FFF , 1950px 1972px #FFF , 1402px 1975px #FFF , 807px 953px #FFF , 1607px 1573px #FFF , 1144px 1679px #FFF , 1482px 625px #FFF , 175px 931px #FFF , 1983px 297px #FFF , 1407px 1363px #FFF , 74px 369px #FFF , 1727px 1674px #FFF , 693px 1520px #FFF , 1045px 1269px #FFF , 778px 1696px #FFF , 1783px 1851px #FFF , 1721px 80px #FFF , 1706px 434px #FFF , 147px 1712px #FFF , 1027px 1704px #FFF , 1329px 1485px #FFF , 637px 1627px #FFF , 111px 1299px #FFF , 158px 111px #FFF , 44px 1667px #FFF , 891px 337px #FFF , 704px 1311px #FFF , 490px 836px #FFF , 1106px 96px #FFF , 1971px 1150px #FFF , 1848px 1434px #FFF , 1246px 142px #FFF , 1935px 1774px #FFF , 575px 1843px #FFF , 481px 1570px #FFF , 1656px 513px #FFF , 1141px 1867px #FFF , 65px 1570px #FFF , 404px 1594px #FFF , 773px 1320px #FFF , 166px 150px #FFF , 773px 1254px #FFF , 1015px 1263px #FFF , 1073px 1364px #FFF , 1111px 280px #FFF , 638px 949px #FFF , 930px 863px #FFF , 1954px 78px #FFF , 1440px 1630px #FFF , 414px 26px #FFF , 229px 1189px #FFF , 268px 1297px #FFF , 972px 1929px #FFF , 396px 542px #FFF , 896px 1556px #FFF , 1950px 1824px #FFF , 1752px 61px #FFF , 490px 212px #FFF , 1769px 507px #FFF , 1691px 1196px #FFF , 211px 1951px #FFF , 139px 411px #FFF , 913px 835px #FFF , 979px 740px #FFF , 1051px 1080px #FFF , 346px 984px #FFF , 1449px 679px #FFF , 1072px 1466px #FFF , 453px 382px #FFF , 1838px 299px #FFF , 120px 780px #FFF , 206px 1965px #FFF , 1409px 246px #FFF , 174px 955px #FFF , 845px 591px #FFF , 1107px 1904px #FFF , 1432px 1926px #FFF , 563px 1906px #FFF , 1762px 1112px #FFF , 358px 2000px #FFF , 1477px 708px #FFF , 1609px 680px #FFF , 1620px 1532px #FFF , 819px 1033px #FFF , 1310px 477px #FFF , 493px 1436px #FFF , 1759px 1450px #FFF , 1689px 1831px #FFF , 406px 114px #FFF , 1270px 1785px #FFF , 450px 938px #FFF , 1925px 512px #FFF , 617px 35px #FFF , 144px 705px #FFF , 1946px 854px #FFF , 1432px 1926px #FFF , 134px 23px #FFF , 1541px 147px #FFF , 482px 1228px #FFF , 1708px 765px #FFF , 1986px 1436px #FFF , 1228px 760px #FFF , 680px 1787px #FFF , 1455px 1662px #FFF , 18px 1712px #FFF , 561px 375px #FFF , 465px 267px #FFF , 1706px 203px #FFF , 251px 1150px #FFF , 362px 1077px #FFF , 460px 440px #FFF , 1265px 1259px #FFF , 604px 650px #FFF , 167px 854px #FFF , 629px 372px #FFF , 461px 1497px #FFF , 1918px 1404px #FFF , 1125px 1841px #FFF , 896px 1136px #FFF , 1913px 1102px #FFF , 1447px 836px #FFF , 801px 1048px #FFF , 385px 1857px #FFF , 1154px 994px #FFF , 1937px 1383px #FFF , 1644px 145px #FFF , 1405px 717px #FFF , 203px 744px #FFF , 1569px 125px #FFF , 1495px 239px #FFF , 1442px 1878px #FFF , 746px 1447px #FFF , 197px 815px #FFF , 478px 96px #FFF , 1511px 1381px #FFF , 810px 901px #FFF , 1295px 21px #FFF , 940px 1981px #FFF , 1128px 1034px #FFF , 519px 603px #FFF , 274px 1390px #FFF , 1185px 893px #FFF , 1280px 1703px #FFF , 1355px 1657px #FFF , 376px 956px #FFF , 1091px 370px #FFF , 241px 568px #FFF , 1845px 134px #FFF , 687px 1780px #FFF , 1810px 1678px #FFF , 793px 1313px #FFF , 1914px 1067px #FFF , 669px 1304px #FFF , 1009px 967px #FFF , 1099px 729px #FFF , 399px 140px #FFF , 66px 93px #FFF , 913px 1482px #FFF , 1178px 117px #FFF , 1960px 350px #FFF , 796px 596px #FFF , 430px 1028px #FFF , 840px 1119px #FFF , 1547px 227px #FFF , 587px 262px #FFF , 1059px 533px #FFF , 1996px 405px #FFF , 1155px 1163px #FFF , 474px 1779px #FFF , 487px 1996px #FFF , 316px 482px #FFF , 284px 47px #FFF , 1641px 1765px #FFF , 1969px 74px #FFF , 1561px 1395px #FFF , 5px 1910px #FFF , 695px 299px #FFF , 1507px 1218px #FFF , 189px 1086px #FFF , 466px 472px #FFF , 1910px 1736px #FFF , 1792px 1573px #FFF , 744px 292px #FFF , 458px 970px #FFF , 247px 1576px #FFF , 463px 1979px #FFF , 686px 1858px #FFF , 1457px 845px #FFF , 1068px 979px #FFF , 1893px 484px #FFF , 1917px 1060px #FFF , 674px 1291px #FFF , 1655px 219px #FFF , 1308px 1633px #FFF , 322px 398px #FFF , 1046px 730px #FFF , 177px 1669px #FFF , 318px 1642px #FFF , 1259px 1716px #FFF , 168px 864px #FFF , 1719px 910px #FFF , 1px 762px #FFF , 750px 861px #FFF , 735px 944px #FFF , 475px 1157px #FFF , 607px 365px #FFF , 1835px 213px #FFF , 1566px 782px #FFF , 1424px 1777px #FFF , 961px 933px #FFF , 981px 269px #FFF , 175px 565px #FFF , 3px 1373px #FFF , 179px 1088px #FFF , 564px 1132px #FFF , 1677px 1305px #FFF , 762px 441px #FFF , 471px 819px #FFF , 280px 191px #FFF , 266px 484px #FFF , 383px 891px #FFF , 1968px 1310px #FFF , 1615px 1100px #FFF , 1494px 1912px #FFF , 70px 74px #FFF , 1276px 100px #FFF , 1145px 1165px #FFF , 561px 546px #FFF , 1580px 597px #FFF , 916px 1742px #FFF , 1651px 179px #FFF , 1350px 1676px #FFF , 1281px 240px #FFF , 1382px 1806px #FFF , 1267px 1366px #FFF , 1292px 1030px #FFF , 631px 488px #FFF , 201px 1687px #FFF , 201px 846px #FFF , 581px 1034px #FFF , 1037px 579px #FFF , 321px 1841px #FFF , 1484px 1113px #FFF , 1059px 1541px #FFF , 310px 607px #FFF , 414px 1348px #FFF , 1805px 1021px #FFF , 611px 1980px #FFF , 819px 64px #FFF , 1212px 1088px #FFF , 787px 1855px #FFF , 1659px 656px #FFF , 665px 1765px #FFF , 1100px 911px #FFF , 1370px 16px #FFF , 1351px 1889px #FFF , 1673px 1600px #FFF , 1697px 1396px #FFF , 49px 723px #FFF , 1678px 892px #FFF , 516px 1048px #FFF , 1298px 1629px #FFF , 1761px 1964px #FFF , 1660px 1770px #FFF , 565px 1618px #FFF , 1117px 970px #FFF , 1570px 1623px #FFF , 1315px 1405px #FFF , 1131px 1779px #FFF , 1427px 1188px #FFF , 1175px 1200px #FFF , 1945px 291px #FFF , 586px 590px #FFF , 1112px 1792px #FFF , 563px 837px #FFF , 1259px 1800px #FFF , 876px 747px #FFF , 978px 1852px #FFF , 1071px 1384px #FFF , 1366px 1060px #FFF , 507px 1145px #FFF , 1316px 1461px #FFF , 244px 5px #FFF , 1473px 409px #FFF , 1067px 269px #FFF , 1560px 1500px #FFF , 1388px 1728px #FFF , 1824px 798px #FFF , 1545px 908px #FFF , 866px 1091px #FFF , 1864px 362px #FFF , 255px 803px #FFF , 441px 172px #FFF , 1020px 992px #FFF , 1150px 1414px #FFF , 1028px 1731px #FFF , 500px 637px #FFF , 1779px 1457px #FFF , 339px 462px #FFF , 1933px 1590px #FFF , 299px 1079px #FFF , 183px 1889px #FFF , 874px 1107px #FFF , 203px 1414px #FFF , 469px 752px #FFF , 1708px 833px #FFF , 657px 1581px #FFF , 601px 1236px #FFF , 1619px 278px #FFF , 76px 1024px #FFF , 170px 549px #FFF , 1699px 1338px #FFF , 964px 1710px #FFF , 1863px 696px #FFF , 607px 461px #FFF , 1851px 295px #FFF , 985px 850px #FFF , 1639px 186px #FFF , 1219px 1244px #FFF , 144px 1346px #FFF , 490px 847px #FFF , 1255px 774px #FFF , 1393px 844px #FFF , 659px 1257px #FFF , 798px 1242px #FFF , 472px 1987px #FFF , 357px 1870px #FFF , 579px 906px #FFF , 1921px 1898px #FFF , 348px 1225px #FFF , 275px 1744px #FFF , 757px 745px #FFF , 919px 1351px #FFF , 1786px 1190px #FFF , 102px 1283px #FFF , 1184px 603px #FFF , 1325px 1953px #FFF , 1784px 1451px #FFF , 85px 105px #FFF , 394px 591px #FFF , 1832px 765px #FFF , 435px 846px #FFF , 1924px 620px #FFF , 939px 310px #FFF , 270px 1582px #FFF , 221px 1932px #FFF , 636px 1099px #FFF , 470px 1411px #FFF , 732px 605px #FFF , 1989px 453px #FFF , 1490px 734px #FFF , 626px 538px #FFF , 1655px 1088px #FFF , 1355px 833px #FFF , 801px 998px #FFF , 1402px 690px #FFF , 803px 914px #FFF , 1266px 782px #FFF , 479px 1876px #FFF , 381px 144px #FFF , 675px 236px #FFF , 953px 1213px #FFF , 1632px 841px #FFF , 305px 231px #FFF , 1297px 617px #FFF , 1133px 775px #FFF , 1465px 1085px #FFF , 882px 1847px #FFF , 226px 1462px #FFF , 951px 1372px #FFF , 340px 473px #FFF , 1370px 1867px #FFF , 1639px 301px #FFF , 1301px 891px #FFF , 1087px 1124px #FFF , 1423px 1553px #FFF , 675px 472px #FFF , 706px 1263px #FFF , 1757px 31px #FFF , 1732px 1334px #FFF , 694px 502px #FFF , 1572px 258px #FFF , 393px 1915px #FFF , 983px 1033px #FFF , 1647px 1px #FFF , 1416px 214px #FFF , 1501px 1322px #FFF , 1569px 924px #FFF , 267px 1146px #FFF , 147px 1443px #FFF , 784px 660px #FFF , 1055px 1753px #FFF , 1920px 1941px #FFF , 644px 1040px #FFF , 1576px 1729px #FFF , 1254px 300px #FFF , 46px 874px #FFF , 693px 161px #FFF , 1204px 1700px #FFF , 1620px 1636px #FFF , 1201px 1554px #FFF , 1712px 117px #FFF , 1925px 1399px #FFF , 1950px 1812px #FFF , 650px 1847px #FFF , 1138px 1593px #FFF , 1548px 1837px #FFF , 444px 1324px #FFF , 1437px 656px #FFF , 1768px 845px #FFF , 1990px 1621px #FFF , 1426px 1708px #FFF , 888px 889px #FFF , 1675px 1702px #FFF , 903px 231px #FFF , 204px 1456px #FFF , 1894px 827px #FFF , 1830px 1119px #FFF , 1230px 1010px #FFF , 1428px 184px #FFF , 625px 1042px #FFF , 255px 569px #FFF , 1493px 1629px #FFF , 1771px 1650px #FFF , 1094px 1958px #FFF , 1947px 1198px #FFF , 306px 147px #FFF , 16px 537px #FFF , 1021px 1412px #FFF , 656px 1446px #FFF , 1281px 462px #FFF , 946px 1542px #FFF , 749px 1916px #FFF , 423px 226px #FFF , 546px 1799px #FFF , 1061px 80px #FFF , 1053px 441px #FFF , 175px 1480px #FFF , 966px 962px #FFF , 539px 683px #FFF , 378px 1728px #FFF , 443px 394px #FFF , 774px 148px #FFF , 1534px 897px #FFF , 1667px 325px #FFF , 1089px 66px #FFF , 1926px 695px #FFF , 1355px 672px #FFF , 1382px 801px #FFF , 572px 1842px #FFF , 1981px 1645px #FFF , 811px 173px #FFF , 1996px 674px #FFF , 1402px 129px #FFF , 368px 1402px #FFF , 1220px 343px #FFF , 297px 561px #FFF , 1419px 1271px #FFF , 761px 130px #FFF;
  }
    
  #stars2
  {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1978px 1994px #FFF , 200px 851px #FFF , 1805px 960px #FFF , 432px 439px #FFF , 615px 376px #FFF , 1893px 161px #FFF , 1232px 1167px #FFF , 1617px 1764px #FFF , 884px 1173px #FFF , 1047px 435px #FFF , 1472px 922px #FFF , 1624px 1842px #FFF , 1252px 1474px #FFF , 909px 1164px #FFF , 1007px 347px #FFF , 605px 1024px #FFF , 1011px 1053px #FFF , 1285px 884px #FFF , 1262px 660px #FFF , 1165px 551px #FFF , 1569px 507px #FFF , 1236px 297px #FFF , 361px 1156px #FFF , 171px 734px #FFF , 1086px 863px #FFF , 78px 1477px #FFF , 1004px 1279px #FFF , 1028px 1122px #FFF , 167px 494px #FFF , 130px 1699px #FFF , 128px 1502px #FFF , 1247px 11px #FFF , 699px 1687px #FFF , 1090px 174px #FFF , 511px 1538px #FFF , 90px 797px #FFF , 311px 1881px #FFF , 1223px 566px #FFF , 1072px 518px #FFF , 1188px 1260px #FFF , 631px 1888px #FFF , 1323px 1608px #FFF , 1325px 694px #FFF , 96px 1092px #FFF , 51px 944px #FFF , 905px 221px #FFF , 388px 1347px #FFF , 324px 739px #FFF , 1505px 1827px #FFF , 974px 1163px #FFF , 1541px 963px #FFF , 225px 705px #FFF , 1848px 1138px #FFF , 1894px 31px #FFF , 835px 39px #FFF , 1555px 1073px #FFF , 486px 1754px #FFF , 436px 1544px #FFF , 442px 351px #FFF , 1682px 775px #FFF , 1779px 120px #FFF , 1270px 1971px #FFF , 1997px 1894px #FFF , 1261px 827px #FFF , 928px 1774px #FFF , 889px 242px #FFF , 412px 1876px #FFF , 819px 85px #FFF , 968px 688px #FFF , 1392px 500px #FFF , 813px 1752px #FFF , 732px 1124px #FFF , 1879px 1318px #FFF , 1900px 1023px #FFF , 1708px 757px #FFF , 1872px 364px #FFF , 1264px 343px #FFF , 1758px 1726px #FFF , 1356px 1231px #FFF , 413px 324px #FFF , 164px 1243px #FFF , 1012px 1306px #FFF , 1661px 671px #FFF , 1717px 872px #FFF , 1408px 1348px #FFF , 719px 1090px #FFF , 1673px 292px #FFF , 1282px 798px #FFF , 542px 14px #FFF , 1355px 336px #FFF , 155px 456px #FFF , 434px 186px #FFF , 1414px 839px #FFF , 1930px 1101px #FFF , 1777px 1442px #FFF , 1707px 851px #FFF , 124px 1359px #FFF , 636px 1570px #FFF , 1771px 413px #FFF , 1378px 736px #FFF , 772px 1065px #FFF , 938px 1149px #FFF , 405px 296px #FFF , 1173px 1285px #FFF , 370px 1148px #FFF , 524px 1350px #FFF , 775px 850px #FFF , 815px 1470px #FFF , 1974px 1881px #FFF , 1610px 1651px #FFF , 525px 14px #FFF , 616px 1877px #FFF , 1983px 1994px #FFF , 1309px 1830px #FFF , 60px 1965px #FFF , 389px 1741px #FFF , 374px 1072px #FFF , 1722px 1101px #FFF , 90px 923px #FFF , 552px 1041px #FFF , 169px 456px #FFF , 1386px 1552px #FFF , 752px 1260px #FFF , 1596px 528px #FFF , 204px 1326px #FFF , 207px 480px #FFF , 931px 344px #FFF , 679px 1416px #FFF , 87px 323px #FFF , 476px 714px #FFF , 1960px 1099px #FFF , 1481px 389px #FFF , 1193px 1913px #FFF , 3px 1594px #FFF , 1395px 334px #FFF , 331px 1600px #FFF , 896px 1938px #FFF , 785px 1855px #FFF , 726px 927px #FFF , 545px 1358px #FFF , 476px 1683px #FFF , 314px 433px #FFF , 58px 1888px #FFF , 990px 46px #FFF , 1474px 530px #FFF , 643px 1724px #FFF , 1552px 1522px #FFF , 588px 1247px #FFF , 1215px 1695px #FFF , 1568px 197px #FFF , 1520px 658px #FFF , 1567px 197px #FFF , 1903px 1662px #FFF , 1469px 1939px #FFF , 1798px 700px #FFF , 793px 853px #FFF , 1756px 1888px #FFF , 1376px 430px #FFF , 1046px 472px #FFF , 577px 331px #FFF , 85px 843px #FFF , 1516px 610px #FFF , 1517px 342px #FFF , 1990px 399px #FFF , 1048px 1715px #FFF , 632px 946px #FFF , 377px 1476px #FFF , 1955px 47px #FFF , 1075px 1331px #FFF , 380px 437px #FFF , 1187px 1945px #FFF , 1576px 1013px #FFF , 1614px 112px #FFF , 1379px 1358px #FFF , 177px 36px #FFF , 599px 618px #FFF , 1604px 1445px #FFF , 1672px 1421px #FFF , 1924px 817px #FFF , 699px 1635px #FFF , 163px 1593px #FFF , 1254px 231px #FFF , 602px 911px #FFF , 1782px 434px #FFF , 1924px 463px #FFF , 1627px 689px #FFF , 202px 831px #FFF , 1262px 215px #FFF , 619px 1816px #FFF , 913px 386px #FFF , 601px 992px #FFF , 470px 492px #FFF , 595px 328px #FFF , 107px 1912px #FFF , 1996px 169px #FFF , 1846px 591px #FFF , 1383px 1289px #FFF , 1316px 315px #FFF , 497px 968px #FFF , 531px 290px #FFF;
    animation: animStar 100s linear infinite;
  }

  #stars2:after
  {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1978px 1994px #FFF , 200px 851px #FFF , 1805px 960px #FFF , 432px 439px #FFF , 615px 376px #FFF , 1893px 161px #FFF , 1232px 1167px #FFF , 1617px 1764px #FFF , 884px 1173px #FFF , 1047px 435px #FFF , 1472px 922px #FFF , 1624px 1842px #FFF , 1252px 1474px #FFF , 909px 1164px #FFF , 1007px 347px #FFF , 605px 1024px #FFF , 1011px 1053px #FFF , 1285px 884px #FFF , 1262px 660px #FFF , 1165px 551px #FFF , 1569px 507px #FFF , 1236px 297px #FFF , 361px 1156px #FFF , 171px 734px #FFF , 1086px 863px #FFF , 78px 1477px #FFF , 1004px 1279px #FFF , 1028px 1122px #FFF , 167px 494px #FFF , 130px 1699px #FFF , 128px 1502px #FFF , 1247px 11px #FFF , 699px 1687px #FFF , 1090px 174px #FFF , 511px 1538px #FFF , 90px 797px #FFF , 311px 1881px #FFF , 1223px 566px #FFF , 1072px 518px #FFF , 1188px 1260px #FFF , 631px 1888px #FFF , 1323px 1608px #FFF , 1325px 694px #FFF , 96px 1092px #FFF , 51px 944px #FFF , 905px 221px #FFF , 388px 1347px #FFF , 324px 739px #FFF , 1505px 1827px #FFF , 974px 1163px #FFF , 1541px 963px #FFF , 225px 705px #FFF , 1848px 1138px #FFF , 1894px 31px #FFF , 835px 39px #FFF , 1555px 1073px #FFF , 486px 1754px #FFF , 436px 1544px #FFF , 442px 351px #FFF , 1682px 775px #FFF , 1779px 120px #FFF , 1270px 1971px #FFF , 1997px 1894px #FFF , 1261px 827px #FFF , 928px 1774px #FFF , 889px 242px #FFF , 412px 1876px #FFF , 819px 85px #FFF , 968px 688px #FFF , 1392px 500px #FFF , 813px 1752px #FFF , 732px 1124px #FFF , 1879px 1318px #FFF , 1900px 1023px #FFF , 1708px 757px #FFF , 1872px 364px #FFF , 1264px 343px #FFF , 1758px 1726px #FFF , 1356px 1231px #FFF , 413px 324px #FFF , 164px 1243px #FFF , 1012px 1306px #FFF , 1661px 671px #FFF , 1717px 872px #FFF , 1408px 1348px #FFF , 719px 1090px #FFF , 1673px 292px #FFF , 1282px 798px #FFF , 542px 14px #FFF , 1355px 336px #FFF , 155px 456px #FFF , 434px 186px #FFF , 1414px 839px #FFF , 1930px 1101px #FFF , 1777px 1442px #FFF , 1707px 851px #FFF , 124px 1359px #FFF , 636px 1570px #FFF , 1771px 413px #FFF , 1378px 736px #FFF , 772px 1065px #FFF , 938px 1149px #FFF , 405px 296px #FFF , 1173px 1285px #FFF , 370px 1148px #FFF , 524px 1350px #FFF , 775px 850px #FFF , 815px 1470px #FFF , 1974px 1881px #FFF , 1610px 1651px #FFF , 525px 14px #FFF , 616px 1877px #FFF , 1983px 1994px #FFF , 1309px 1830px #FFF , 60px 1965px #FFF , 389px 1741px #FFF , 374px 1072px #FFF , 1722px 1101px #FFF , 90px 923px #FFF , 552px 1041px #FFF , 169px 456px #FFF , 1386px 1552px #FFF , 752px 1260px #FFF , 1596px 528px #FFF , 204px 1326px #FFF , 207px 480px #FFF , 931px 344px #FFF , 679px 1416px #FFF , 87px 323px #FFF , 476px 714px #FFF , 1960px 1099px #FFF , 1481px 389px #FFF , 1193px 1913px #FFF , 3px 1594px #FFF , 1395px 334px #FFF , 331px 1600px #FFF , 896px 1938px #FFF , 785px 1855px #FFF , 726px 927px #FFF , 545px 1358px #FFF , 476px 1683px #FFF , 314px 433px #FFF , 58px 1888px #FFF , 990px 46px #FFF , 1474px 530px #FFF , 643px 1724px #FFF , 1552px 1522px #FFF , 588px 1247px #FFF , 1215px 1695px #FFF , 1568px 197px #FFF , 1520px 658px #FFF , 1567px 197px #FFF , 1903px 1662px #FFF , 1469px 1939px #FFF , 1798px 700px #FFF , 793px 853px #FFF , 1756px 1888px #FFF , 1376px 430px #FFF , 1046px 472px #FFF , 577px 331px #FFF , 85px 843px #FFF , 1516px 610px #FFF , 1517px 342px #FFF , 1990px 399px #FFF , 1048px 1715px #FFF , 632px 946px #FFF , 377px 1476px #FFF , 1955px 47px #FFF , 1075px 1331px #FFF , 380px 437px #FFF , 1187px 1945px #FFF , 1576px 1013px #FFF , 1614px 112px #FFF , 1379px 1358px #FFF , 177px 36px #FFF , 599px 618px #FFF , 1604px 1445px #FFF , 1672px 1421px #FFF , 1924px 817px #FFF , 699px 1635px #FFF , 163px 1593px #FFF , 1254px 231px #FFF , 602px 911px #FFF , 1782px 434px #FFF , 1924px 463px #FFF , 1627px 689px #FFF , 202px 831px #FFF , 1262px 215px #FFF , 619px 1816px #FFF , 913px 386px #FFF , 601px 992px #FFF , 470px 492px #FFF , 595px 328px #FFF , 107px 1912px #FFF , 1996px 169px #FFF , 1846px 591px #FFF , 1383px 1289px #FFF , 1316px 315px #FFF , 497px 968px #FFF , 531px 290px #FFF;
  }
    
  #stars3
  {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 2000px 1340px #FFF , 1956px 487px #FFF , 1130px 339px #FFF , 47px 1984px #FFF , 1698px 1764px #FFF , 1914px 733px #FFF , 754px 124px #FFF , 1580px 1863px #FFF , 1473px 942px #FFF , 302px 1784px #FFF , 277px 1952px #FFF , 1672px 1979px #FFF , 351px 1788px #FFF , 1701px 1358px #FFF , 226px 467px #FFF , 350px 913px #FFF , 378px 1544px #FFF , 1089px 1104px #FFF , 259px 462px #FFF , 738px 1825px #FFF , 1919px 853px #FFF , 429px 893px #FFF , 1814px 1573px #FFF , 1117px 1847px #FFF , 97px 1613px #FFF , 1573px 1520px #FFF , 1540px 1318px #FFF , 517px 1035px #FFF , 1725px 1609px #FFF , 424px 539px #FFF , 1093px 1538px #FFF , 1907px 1115px #FFF , 62px 496px #FFF , 225px 1620px #FFF , 351px 1313px #FFF , 1958px 478px #FFF , 420px 322px #FFF , 1847px 1922px #FFF , 1545px 1635px #FFF , 52px 623px #FFF , 1609px 597px #FFF , 397px 1264px #FFF , 1773px 1938px #FFF , 1882px 1802px #FFF , 862px 159px #FFF , 332px 47px #FFF , 271px 1813px #FFF , 823px 1011px #FFF , 1296px 175px #FFF , 331px 670px #FFF , 1966px 1688px #FFF , 1680px 1103px #FFF , 1178px 1537px #FFF , 1261px 65px #FFF , 1529px 1628px #FFF , 1840px 222px #FFF , 834px 344px #FFF , 316px 1693px #FFF , 447px 301px #FFF , 1231px 1460px #FFF , 1418px 1261px #FFF , 1831px 1219px #FFF , 155px 1107px #FFF , 1549px 446px #FFF , 1718px 23px #FFF , 1670px 967px #FFF , 1088px 1893px #FFF , 1807px 323px #FFF , 729px 1675px #FFF , 767px 1981px #FFF , 382px 813px #FFF , 293px 454px #FFF , 1481px 808px #FFF , 729px 1748px #FFF , 1466px 1873px #FFF , 278px 1289px #FFF , 1155px 969px #FFF , 1085px 170px #FFF , 124px 14px #FFF , 1131px 744px #FFF , 1065px 149px #FFF , 1984px 529px #FFF , 808px 3px #FFF , 1986px 1300px #FFF , 917px 1975px #FFF , 1219px 328px #FFF , 881px 43px #FFF , 59px 1260px #FFF , 1717px 438px #FFF , 1165px 1830px #FFF , 1960px 972px #FFF , 127px 1470px #FFF , 436px 1753px #FFF , 821px 1015px #FFF , 574px 1605px #FFF , 980px 1877px #FFF , 1327px 936px #FFF , 710px 1568px #FFF , 291px 868px #FFF , 1096px 1749px #FFF;
    animation: animStar 150s linear infinite;
  }

  #stars3:after
  {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 2000px 1340px #FFF , 1956px 487px #FFF , 1130px 339px #FFF , 47px 1984px #FFF , 1698px 1764px #FFF , 1914px 733px #FFF , 754px 124px #FFF , 1580px 1863px #FFF , 1473px 942px #FFF , 302px 1784px #FFF , 277px 1952px #FFF , 1672px 1979px #FFF , 351px 1788px #FFF , 1701px 1358px #FFF , 226px 467px #FFF , 350px 913px #FFF , 378px 1544px #FFF , 1089px 1104px #FFF , 259px 462px #FFF , 738px 1825px #FFF , 1919px 853px #FFF , 429px 893px #FFF , 1814px 1573px #FFF , 1117px 1847px #FFF , 97px 1613px #FFF , 1573px 1520px #FFF , 1540px 1318px #FFF , 517px 1035px #FFF , 1725px 1609px #FFF , 424px 539px #FFF , 1093px 1538px #FFF , 1907px 1115px #FFF , 62px 496px #FFF , 225px 1620px #FFF , 351px 1313px #FFF , 1958px 478px #FFF , 420px 322px #FFF , 1847px 1922px #FFF , 1545px 1635px #FFF , 52px 623px #FFF , 1609px 597px #FFF , 397px 1264px #FFF , 1773px 1938px #FFF , 1882px 1802px #FFF , 862px 159px #FFF , 332px 47px #FFF , 271px 1813px #FFF , 823px 1011px #FFF , 1296px 175px #FFF , 331px 670px #FFF , 1966px 1688px #FFF , 1680px 1103px #FFF , 1178px 1537px #FFF , 1261px 65px #FFF , 1529px 1628px #FFF , 1840px 222px #FFF , 834px 344px #FFF , 316px 1693px #FFF , 447px 301px #FFF , 1231px 1460px #FFF , 1418px 1261px #FFF , 1831px 1219px #FFF , 155px 1107px #FFF , 1549px 446px #FFF , 1718px 23px #FFF , 1670px 967px #FFF , 1088px 1893px #FFF , 1807px 323px #FFF , 729px 1675px #FFF , 767px 1981px #FFF , 382px 813px #FFF , 293px 454px #FFF , 1481px 808px #FFF , 729px 1748px #FFF , 1466px 1873px #FFF , 278px 1289px #FFF , 1155px 969px #FFF , 1085px 170px #FFF , 124px 14px #FFF , 1131px 744px #FFF , 1065px 149px #FFF , 1984px 529px #FFF , 808px 3px #FFF , 1986px 1300px #FFF , 917px 1975px #FFF , 1219px 328px #FFF , 881px 43px #FFF , 59px 1260px #FFF , 1717px 438px #FFF , 1165px 1830px #FFF , 1960px 972px #FFF , 127px 1470px #FFF , 436px 1753px #FFF , 821px 1015px #FFF , 574px 1605px #FFF , 980px 1877px #FFF , 1327px 936px #FFF , 710px 1568px #FFF , 291px 868px #FFF , 1096px 1749px #FFF;
  }

  /* Creating a keyframe animation called animStar. */
  @keyframes animStar
  {
    from
    {
      transform: translateY(0px);
    }

    to
    {
      transform: translateY(-2000px);
    }
  }
}
